@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="@typeof(Main).Assembly" >
        <Found Context="routeData">
            <Navigation>
                <Status>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(ReturnLayout)">
                        <Authorizing>
                            <div>正在加载用户数据...</div>
                        </Authorizing>
                        <NotAuthorized>
				            <LoginRedirect></LoginRedirect>
                        </NotAuthorized>
                        </AuthorizeRouteView>
                    @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Status>
            </Navigation>
        </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <NotFoundView></NotFoundView>
        </LayoutView>
    </NotFound>
</Router>

@code {

    [Parameter]
    public string? Url  { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(Url))
        {
            this.NavigationManager.NavigateTo("/tab");
        }
        else
        {
            this.NavigationManager.NavigateTo(this.Url);
        }
    }
}