<Router AppAssembly="@typeof(Main).Assembly">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <Navigation>
                <Status>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(ReturnLayout)">
                        <Authorizing>
                            <div>正在加载用户数据...</div>
                        </Authorizing>
                        <NotAuthorized>
                            <LoginRedirect></LoginRedirect>
                        </NotAuthorized>
                    </AuthorizeRouteView>
                    @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
                    <FocusOnNavigate RouteData="@routeData" Selector="input" />
                </Status>
            </Navigation>
        </CascadingAuthenticationState>
    </Found>
    <NotFound>
        <HeadTitle Title="Not found"></HeadTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <NotFoundView></NotFoundView>
        </LayoutView>
    </NotFound>
</Router>

@code {

    [Parameter]
    public string? Url { get; set; }
}