@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="@typeof(Main).Assembly" >
        <Found Context="routeData">
            <Navigation>
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(ReturnLayout)">
                    <Authorizing>
                        <div>正在加载用户数据...</div>
                    </Authorizing>
                    <NotAuthorized>
				        <div>没有登录</div>
                    </NotAuthorized>
                    </AuthorizeRouteView>
                @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Navigation>
        </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    [Parameter]
    public string? Url { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    [Inject]
    private MainJsInterop MainJsInterop { get; set; } = null!;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Url))
        {
            // Router
            // this.NavigationManager.NavigateTo(this.Url, true);
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await this.MainJsInterop.Initialize();
        }
    }
}