@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="@typeof(Main).Assembly">


    <Found Context="routeData">

        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <div>正在加载用户数据...</div>
            </Authorizing>
            <NotAuthorized>
				<div>没有登录</div>
            </NotAuthorized>
         </AuthorizeRouteView>

        @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    [Inject]
    public MainJsInterop MainJsInterop { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await this.MainJsInterop.Initialize();
        }
    }
}