@page "/member/{Id}"

<LoadingBox Load="LoadAsync">
    <Loading>
        <div class="text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <div role="status">
                <svg aria-hidden="true"
                    class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill" />
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </Loading>
    <Content>
        @if (memberInfo != null)
        {
            <div class="flex flex-row space-x-2 p-2 bg-white mt-4">
                <div class="flex flex-col items-center space-y-1">
                    <img class="w-16 h-16" src="@memberInfo.Avatar" alt="avatar" />

                    @if (!string.IsNullOrEmpty(memberInfo.IsOnline))
                    {
                        <span class="uppercase bg-green-400 px-2 py-0 text-sm text-white rounded-full">online</span>
                    }
                </div>

                <div class="flex flex-col space-y-1 text-gray-400">
                    <span class="text-gray-800 text-lg">@memberInfo.UserName</span>
                    <span>@memberInfo.Tagline</span>
                    <span>今日活跃度排名 @memberInfo.TodayActivity</span>
                </div>
            </div>
            <div class="bg-white mb-4 p-2 flex flex-col">
                <span>@memberInfo.CreatedText</span>
            </div>



            <div class="grid grid-cols-1 bg-white my-4 divide-y space-y-2">
                <div class="flex flex-row justify-between p-4 text-gray-400">
                    <span> @Id 最近创建了</span>

                    <div class="flex flex-row justify-start space-x-2  px-2">
                        <a href="/member/@Id/replies">创建的更多主题</a>
                        <span class="text-gray-600">>></span>
                    </div>
                </div>
                @foreach (var topic in memberInfo.Topics)
                {
                    var viewModel = new TopicViewModel(
                    "", // id
                    "", // node id
                    topic.Title,
                    topic.Link,
                    "", // avatar
                    "", // avatar link
                    topic.UserName,
                    "", // user link
                    topic.Created,
                    topic.CreatedText,
                    topic.LatestReplyBy,
                    topic.NodeName,
                    topic.NodeLink,
                    topic.Replies
                    );
                    <Topic2 ViewModel="@viewModel"></Topic2>
                }


            </div>


            <div class="grid grid-cols-1 p-2 bg-white my-4 divide-y space-y-2">
                <div class="flex flex-row justify-between py-4 text-gray-400">
                    <span> @Id 最近回复了</span>

                    <div class="flex flex-row justify-start space-x-2  ">
                        <a href="/member/@Id/replies">创建的更多回复</a>
                        <span class="text-gray-600">>></span>
                    </div>
                </div>
                @for (var i = 0; i < memberInfo.Replies.Count; i++)
                {
                    var content = new MarkupString(memberInfo.ReplyContents[i]);
                    var reply = memberInfo.Replies[i];
                    <div class="w-full flex flex-col space-y-2">
                        <div class="flex flex-row justify-between py-2">
                            <div><span>@reply.OpUserName 创建的主题 ></span> @reply.TopicTitle </div>
                            <div>@reply.ReplyTimeText</div>
                        </div>
                        <div class="bg-gray-100 p-2 rounded-sm">@content</div>
                    </div>
                }
            </div>
        }

    </Content>
</LoadingBox>

@code {
    [Parameter]
    public string Id { get; set; } = null!;

    [Inject]
    private ApiService ApiService { get; set; } = null!;

    private MemberPageInfo? memberInfo;

    private async Task LoadAsync()
    {
        memberInfo = await this.ApiService.GetUserPageInfo(this.Id);
    }
}