@using DebounceThrottle
<div class="flex flex-col w-full" @ref="containerRef">
    <div class="flex-row w-full">
        <div id="editor" @onclick="OnEditorClick"
            class="rounded-lg border-2 border-gray-200 bg-gray-50 !text-base min-h-[8rem] !font-normal"></div>
    </div>

    <div id="toolbar" class="flex flex-row w-full items-center justify-center sticky bottom-0 py-2 bg-white">
        <button class="ql-emoji p-2 rounded-lg " @onclick="ShowEmojiPanel">
            <svg class="w-6 h-6 text-gray-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13.408 7.5h.01m-6.876 0h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM4.6 11a5.5 5.5 0 0 0 10.81 0H4.6Z" />
            </svg>
        </button>

        @{
            var chooseImageClass = "rounded-lg ql-image p-2 disabled:bg-gray-500/90 " + (isUploading ? "disabled" : "");
        }

        <button class="@chooseImageClass" @onclick="ChooseImage" disabled="@isUploading">
            @if (isUploading)
            {
                <div role="status">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-200 animate-spin dark:text-gray-400 fill-blue-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
            }
            else
            {
                <svg class="w-6 h-6 text-gray-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 20 18">
                    <path fill="currentColor"
                          d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z" />
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M18 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z" />
                </svg>
            }
        </button>

        @{
            var replyButtonClass = "px-4 py-2 ml-auto text-gray-50 bg-gray-400 rounded-lg flex flex-row space-x-2 items-center disabled:bg-gray-500/90" + (isUploading ?
            "disabled" : "");
        }
        <button class="@replyButtonClass" @onclick="ReplyAsync" disabled="@(isUploading||isReplying)">
            @if (isReplying)
            {
                <div role="status">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-200 animate-spin dark:text-gray-400 fill-blue-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
            }
            <span>
                回复
            </span>
        </button>
    </div>

    @if (isEmojiShow)
    {
        <div class="flex flex-col w-full pt-0">
            @if (recentEmojis.Any())
            {
                <div class="flex flex-col space-y-2">
                    <div class="text-gray-500 font-semibold">最近使用</div>
                    <div class="flex flex-wrap ">
                        @foreach (var item in recentEmojis)
                        {
                            if (item is TextEmoji textItem)
                            {
                                <button class="p-2" @onclick="()=> OnTextEmojiSelected(textItem)">
                                    @item.Name
                                </button>
                            }
                            else if (item is ImageEmoji imageEmoji)
                            {
                                <button class="p-2" @onclick="()=> OnImageEmojiSelected(imageEmoji)">
                                    <img src="@imageEmoji.Low" alt="@imageEmoji.Name" />
                                </button>
                            }
                        }
                    </div>
                </div>
            }

            @foreach (var category in emojiCategories)
            {
                <div class="flex flex-col space-y-2">
                    <div class="text-gray-500 font-semibold">@category.Key</div>
                    <div class="flex flex-wrap ">
                        @foreach (var item in category.Value)
                        {
                            if(item is TextEmoji textItem)
                            {
                                <button class="p-2 text-xl" @onclick="()=> OnTextEmojiSelected(textItem)">
                                    @item.Name
                                </button>
                            }
                            else if(item is ImageEmoji imageEmoji)
                            {
                                <button class="p-2" @onclick="()=> OnImageEmojiSelected(imageEmoji)">
                                    <img src="@imageEmoji.Low" alt="@imageEmoji.Name" />
                                </button>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    }


    <div id="mentionUsersModal" tabindex="-1" aria-hidden="true"
         class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-end md:items-center w-full !h-full md:inset-0 ">
        <div class="relative p-0 w-full h-5/6">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-800 h-full">
                <div class="overflow-y-auto h-full">
                    @if (Replies != null && Replies.Count > 0)
                    {
                        <ScrollView>
                            <div class="sticky top-0 bg-gray-100 px-4 py-2 rounded-lg flex flex-col">
                                <div class="flex py-2 text-gray-800 relative justify-center">
                                    <button class="absolute left-0 p-2 bg-gray-200 rounded-full" @onclick="HideMentionUsersModal">
                                        <svg class="w-2 h-2 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                                        </svg>
                                    </button>
                                    <div class=" text-lg font-semibold ">选择用户</div>
                                </div>
                                <div class="flex flex-row  space-x-4">
                                    <input class="flex-1 rounded-lg px-4 py-2 focus:outline-none" @bind-value="SearchText" @bind-value:event="oninput" placeholder="搜索用户和回复" />

                                    <button class="px-4 py-2 bg-gray-400 text-gray-50 rounded-lg focus:outline-none" @onclick="ConfirmMention">确定</button>
                                </div>
                            </div>

                            <div class="grid grid-cols-1 divide-y">
                                @foreach (var reply in Replies)
                                {
                                    var show = true;
                                    if (!string.IsNullOrEmpty(SearchText))
                                    {
                                        show = reply.UserName.Contains(SearchText) 
                                            || (reply.Content?.Value ?? "").Contains(SearchText)
                                            || reply.Floor.ToString() == SearchText;
                                    }

                                    var cssClass = "flex flex-row justify-start items-start py-2 px-4 cursor-pointer "
                                        + (mentionFloors.Contains(reply.Floor) ? "bg-gray-100" : "") + " "
                                        + (!show ? "hidden" : "");
                                    <div class="@cssClass" @onclick="()=>ToggleMentionFloor(reply.Floor)">
                                        <a href="@reply.Avatar" class="flex flex-row items-start justify-start justify-items-start select-none">
                                            <img class="w-10 h-10 rounded-full shadow-md" src="@reply.Avatar" alt="avatar">
                                        </a>

                                        <div class="flex flex-col flex-1 mx-2 space-y-2 ">
                                            <div class="flex flex-row items-center w-full">
                                                <a href="@reply.UserLink" class=" ">
                                                    <span class="text-sm text-gray-900">@reply.UserName</span>
                                                </a>
                                                <span class="text-sm text-gray-500 whitespace-nowrap text-ellipsis ml-2">@reply.ReplyTimeText</span>
                                            </div>

                                            <MarkupStringView Content="reply.Content" ></MarkupStringView>
                                            <div class="text-gray-400 text-sm select-none">@reply.Floor 楼</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </ScrollView>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool isEmojiShow = false;

    [Parameter]
    public EventCallback<string> ReplyCallback { get; set; }

    [Parameter] 
    public List<ReplyViewModel>? Replies { get; set; }

    [Inject]
    private EmojiService EmojiService { get; set; } = null!;

    [Inject]
    private IJSRuntime JsRuntime { get; set; } = null!;
    [Inject]
    private IToastService Toast { get; set; } = null!;
    private ElementReference? containerRef;
    private DotNetObjectReference<ReplyInput>? thisRef;
    private IJSObjectReference? interopModule;
    private IJSObjectReference? quillRef;
    private IJSObjectReference? mentionUsersModal;
    private bool isUploading, isReplying;
    private Dictionary<string, List<IEmoji>> emojiCategories = [];
    private List<IEmoji> recentEmojis = [];

    private string? searchText;
    private string? SearchText
    {
        get => searchText;
        set
        {
            searchText = value;
        }
    }

    private List<int> mentionFloors = [];
    private TaskCompletionSource<List<string>>? mentionUsersTcs;


    protected override void OnInitialized()
    {
        this.thisRef = DotNetObjectReference.Create(this);
    }

    protected override async Task OnInitializedAsync()
    {
        this.emojiCategories = await this.EmojiService.GetListAsync();
        this.recentEmojis = await this.EmojiService.GetRecentListAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            interopModule = await this.JsRuntime.InvokeAsync<IJSObjectReference>("import",
                "./_content/V2ex.Blazor.Shared/Components/ReplyInput.razor.js");
            quillRef = await interopModule.InvokeAsync<IJSObjectReference>("initialize", containerRef, thisRef);
            mentionUsersModal = await interopModule.InvokeAsync<IJSObjectReference>("initializeMentionUsersModal", containerRef, thisRef);
        }
    }

    private async Task OnEditorClick()
    {
        isEmojiShow = false;

        await this.FocusAsync();
    }

    private Task ShowEmojiPanel()
    {
        isEmojiShow = true;
        return Task.CompletedTask;
    }

    private async Task OnTextEmojiSelected(TextEmoji emoji)
    {
        if (interopModule == null)
        {
            return;
        }

        await this.EmojiService.SetRecentAsync(emoji);

        await this.interopModule.InvokeVoidAsync("insertTextEmoji", quillRef, emoji.Name);
    }

    private async Task OnImageEmojiSelected(ImageEmoji emoji)
    {
        if (interopModule == null)
        {
            return;
        }
        await this.EmojiService.SetRecentAsync(emoji);
        await this.interopModule.InvokeVoidAsync("insertImageEmoji", quillRef, emoji.Low);
    }

    public async Task InsertTextAsync(string text)
    {
        if (interopModule == null)
        {
            return;
        }
        await this.interopModule.InvokeVoidAsync("clearQuill", quillRef);
        await this.interopModule.InvokeVoidAsync("insertText", quillRef, text);
    }

    private async Task ChooseImage()
    {
        try
        {
            if (interopModule == null)
            {
                return;
            }
            isUploading = true;
            await this.interopModule.InvokeVoidAsync("chooseImage", quillRef, thisRef);
            await this.Toast.Show("图片上传成功");
        }
        catch (JSException e)
        {
            if (e.Message == "cancel")
            {
                //swallow it.
                return;
            }
            await this.Toast.Show($"图片上传失败: {e.Message}");
        }
        finally
        {
            isUploading = false;
        }
    }

    public async Task FocusAsync()
    {
        if (quillRef == null)
        {
            return;
        }
        await this.quillRef.InvokeVoidAsync("focus");
    }

    public async Task ReplyAsync()
    {
        if (interopModule == null)
        {
            return;
        }
        try
        {
            isReplying = true;

            await this.InvokeAsync(this.StateHasChanged);

            var replyContent = await interopModule.InvokeAsync<string>("getQuillContents", quillRef);

            if (string.IsNullOrEmpty(replyContent?.Trim()))
            {
                return;
            }

            await this.ReplyCallback.InvokeAsync(replyContent);

            await this.interopModule.InvokeVoidAsync("clearQuill", quillRef);
        }
        finally
        {
            isReplying = false;
        }
    }

    [JSInvokable]
    public async Task<List<string>> ChooseUserListJsInvoke()
    {
        if (mentionUsersModal == null || Replies == null || Replies.Count == 0)
        {
            return [];
        }

        mentionUsersTcs = new TaskCompletionSource<List<string>>();
        await this.mentionUsersModal.InvokeVoidAsync("show");

        return await mentionUsersTcs.Task;
    }

    private void ToggleMentionFloor(int floor)
    {
        if (mentionFloors.Contains(floor))
        {
            mentionFloors.Remove(floor);
        }
        else
        {
            mentionFloors.Add(floor);
        }
    }

    private async Task ConfirmMention()
    {
        if (mentionUsersModal == null || Replies == null || Replies.Count == 0 || mentionUsersTcs == null)
        {
            return;
        }

        var replies = this.Replies.Where(o => mentionFloors.Contains(o.Floor))
            .Select(o => $"{o.UserName} #{o.Floor}")
            .ToList();
        mentionUsersTcs.SetResult(replies);

        mentionFloors.Clear();
        await this.mentionUsersModal.InvokeVoidAsync("hide");
    }

    private async Task HideMentionUsersModal()
    {
        if (this.mentionUsersModal == null)
        {
            return;
        }
        await this.mentionUsersModal.InvokeVoidAsync("hide");
    }
}
